html,
body {
  padding: 0;
  margin: 0;
  width: 1280;
  height: 720px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: auto;
  height: 100vh;
  padding: 0px 20px;
  background-color: #f3f3f3;
}